<div class="main" fxLayout="column" fxLayoutAlign="center center" >



  <mat-card *ngIf="tokenMatched" class="example-card" fxFlex="0 1 auto" >
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title>
        Ebay2Woo
      </mat-card-title>
    </mat-card-header>
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title>
        Reset Password
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" >
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="" type="password" formControlName="password" >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <label>
            <input matInput type="password" formControlName="confirmPassword"  >
          </label>
        </mat-form-field>

        <span fxLayout="row" fxLayoutAlign="center">
        <button mat-raised-button type="submit" color="warn">Reset</button>
      </span>

      </form>

    </mat-card-content>


    <!--<mat-card-actions>-->
    <!--<button mat-raised-button type="submit">Login</button>-->
    <!--</mat-card-actions>-->
  </mat-card>









</div>
