<div >

  <h2 mat-dialog-title>Forgot Password</h2>

  <mat-tab-group *ngIf="!submitted" mat-align-tabs="center" dynamicHeight="true">

    <mat-tab label="Forgot Password" >
      <section fxLayout="column" fxLayoutAlign="center center">

      <form (ngSubmit)="onSubmitEmail(passwordForm)" #passwordForm="ngForm">
      <mat-form-field appearance="outline" [ngStyle]="{ 'width': '300px ', 'max-width':'100%'}">
        <mat-label>Enter Email</mat-label>
        <label>
          <input matInput type="email" ngModel name="emailPass"  >
        </label>
      </mat-form-field>

        <mat-dialog-actions>
          <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
          <button type="submit" mat-button >Yes</button>
        </mat-dialog-actions>
      </form>



      </section>
    </mat-tab>

<!-- Below is template form binding please change it to reactive form binding-->
    <mat-tab label="Forgot Username">

      <section fxLayout="column" fxLayoutAlign="center center">

        <form (ngSubmit)="onSubmitEmail(emailForm)" #emailForm="ngForm">
          <mat-form-field appearance="outline" [ngStyle]="{ 'width': '300px ', 'max-width':'100%'}">
            <mat-label>Enter Email</mat-label>
            <label>
              <input matInput type="email" ngModel name="emailUser"  >
            </label>
          </mat-form-field>
          <mat-dialog-actions>
            <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
            <button type="submit" mat-button  >Yes</button>
          </mat-dialog-actions>
        </form>


      </section>

    </mat-tab>

  </mat-tab-group>

  <div *ngIf="submitted">
    <mat-card>
      <mat-card-content>
        Check your email and some message bro
      </mat-card-content>
      <mat-card-actions fxLayout="column" fxLayoutAlign="center center">
        <button mat-raised-button [mat-dialog-close]="true" (click)="closeDialog()" >Return to SignIn</button>
      </mat-card-actions>
    </mat-card>

  </div>

</div>
